[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pybuilder = "*"

[packages]
numpy = ">1.16.0"
pandas = ">0.24.0"
mutual-information = "*"
click = ">7.0"
mysql-connector-python = ">8.0.5"
obonetx = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
